<acl>
    <group name="Everyone">
        <acl name="Default"></acl>
        <object name="user.*"></object>
        <object name="resource.*"></object>
    </group>
    <group name="Admin">
        <acl name="Admin"></acl>
        <object name="user.mabako"></object>
    </group>
    <group name="Console">
        <acl name="Admin"></acl>
        <object name="user.Console"></object>
    </group>
    <acl name="Default">
        <right name="command.start" access="false"></right>
        <right name="command.stop" access="false"></right>
        <right name="command.stopall" access="false"></right>
        <right name="command.restart" access="false"></right>
        <right name="command.refresh" access="false"></right>
        <right name="command.refreshall" access="false"></right>
        <right name="command.list" access="false"></right>
        <right name="command.info" access="false"></right>
        <right name="command.upgrade" access="false"></right>
        <right name="command.msg" access="false"></right>
        <right name="command.nick" access="false"></right>
        <right name="command.chgmypass" access="false"></right>
        <right name="command.addaccount" access="false"></right>
        <right name="command.delaccount" access="false"></right>
        <right name="command.chgpass" access="false"></right>
        <right name="command.whois" access="false"></right>
        <right name="command.whowas" access="false"></right>
        <right name="command.loadmodule" access="false"></right>
        <right name="command.ver" access="false"></right>
        <right name="command.sver" access="false"></right>
        <right name="command.ase" access="false"></right>
        <right name="command.openports" access="false"></right>
        <right name="command.debugdb" access="false"></right>
        <right name="command.reloadbans" access="false"></right>
        <right name="command.aclrequest" access="false"></right>
        <right name="command.debugjoinflood" access="false"></right>
        <right name="command.run" access="false"></right>
        <right name="command.srun" access="false"></right>
        <right name="command.crun" access="false"></right>
    </acl>
    <acl name="Admin">
        <right name="command.start" access="true"></right>
        <right name="command.stop" access="true"></right>
        <right name="command.stopall" access="true"></right>
        <right name="command.restart" access="true"></right>
        <right name="command.refresh" access="true"></right>
        <right name="command.refreshall" access="true"></right>
        <right name="command.list" access="true"></right>
        <right name="command.info" access="true"></right>
        <right name="command.upgrade" access="true"></right>
        <right name="command.msg" access="true"></right>
        <right name="command.nick" access="true"></right>
        <right name="command.chgmypass" access="true"></right>
        <right name="command.addaccount" access="true"></right>
        <right name="command.delaccount" access="true"></right>
        <right name="command.chgpass" access="true"></right>
        <right name="command.whois" access="true"></right>
        <right name="command.whowas" access="true"></right>
        <right name="command.loadmodule" access="true"></right>
        <right name="command.reloadbans" access="true"></right>
        <right name="command.run" access="true"></right>
        <right name="command.srun" access="true"></right>
        <right name="command.crun" access="true"></right>
    </acl>
</acl>
